#copy file and remove .example suffix

aws_account_id              = ""
client_id                   = ""
client_secret               = ""
databricks_account_id       = ""
region                      = ""
resource_owner              = ""
resource_prefix             = ""
aws_profile                 = "default"
my_uc_catalog_name          = ""
my_uc_catalog_resource_name = ""
user_workspace_access       = ""
workspace_catalog_admin     = ""
user_data_access            = ""